  body{
    background-color: white;
    color: #000000;
    font-family: helvetica;
  }
  
  nav a {
    text-decoration: none;
    Color:#40403B;
    border radious: 2px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    transition: 1s all;
    
  }
  
  nav a:hover{
   background-color: #ABAB9E;
  
  }
  
  header {
    text-align: center;
  }
  
  header img {
    border-radius: 50%;
  }
  header h1{
    font-family: 'Trade Winds', cursive;
  }
  header h2{
    font-family: 'Sarina', cursive;
  }
  
  h2{
     color: #000000;
  }
  
  section{
    text-align:center;
    background-image: url(https://farm7.staticflickr.com/6141/5974874958_9baa457909_o.jpg);
    height: 350px;
    background-size: cover;
  }
  button {
    color: #FFF;
    background-color:red;
    border: none;
    border-radius:3px;
    padding:5px;
    margin-top:40px;
  }

