  body{
    background-color: white;
    color: #000000;
    font-family: helvetica;
  }
  
  nav a {
    text-descoration: none;
    Color:#000000;
    border radious: 2px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
  }
  
  h2{
     color: #000000;
  }
  
